{
	"useTabs": true,
	"tabWidth": 2,
	"semicolon": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"printWidth": 120,
	"pluginSearchDirs": ["."]
}
