@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--filter: brightness(30%);
}

body {
	color: white;
	background: rgb(0, 0, 0);
	font-size: 1.2rem;
	letter-spacing: 0.5px;
	min-height: 100vh;
	min-height: 100lvh;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
	/* min-height: calc(100vh - 4rem); */
}
.bg {
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('/SIGNALIS_Elster_1080p.webp');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	filter: var(--filter);
	transition: all 300ms;
	z-index: -1;
}

.entry-title:after,
.entry-title:before {
	content: '';
	width: 6px;
	height: 15px;
	display: block;
	position: absolute;
}
.entry-title:before {
	border-top: 2px solid rgba(255, 255, 255, 0.6);
	border-left: 2px solid rgba(255, 255, 255, 0.6);
	top: 12px;
	right: calc(100% + 5px);
}
.entry-title:after {
	border-bottom: 2px solid rgba(255, 255, 255, 0.6);
	border-right: 2px solid rgba(255, 255, 255, 0.6);
	left: calc(100% + 5px);
	bottom: 12px;
}

input::-webkit-search-cancel-button {
	display: none;
}

.ais-InfiniteHits-list {
	max-height: calc(100vh - 13rem);
	max-height: calc(100lvh - 13rem);
}

.ais-InfiniteHits-list::-webkit-scrollbar {
	width: 10px;
}
.ais-InfiniteHits-list::-webkit-scrollbar-thumb {
	background-color: #00a2e8;
}
.ais-InfiniteHits-list::-webkit-scrollbar-thumb:hover {
	background-color: #d6d6d6;
}

::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-thumb {
	background-color: #ff3e03;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #d6d6d6;
}

.entry-center {
	display: block;
	text-align: center;
}
.entry-ciphered {
	background-color: #ff3e03;
	color: #ff3e03;
}
.entry-ciphered:hover {
	background-color: transparent;
	color: white;
}
.entry-orange {
	color: #ff602f;
}
.entry-undecipherable {
	background-color: rgb(199, 199, 199);
	width: 1ch;
	height: 1.375rem;
	display: inline-block;
	vertical-align: text-top;
}

.accordion {
	--duration: 0;
	--delay: 0;
	--max-height: 0;
}

.accordion:has(.accordion-button:focus) {
	position: relative;
	z-index: 10;
}

.accordion-ul {
	transition: max-height var(--duration) ease-in-out;
	max-height: var(--max-height);
}

.accordion-item {
	animation:
		150ms ease-in-out var(--delay) fly-left,
		150ms ease-in-out var(--delay) fade;
	animation-fill-mode: both;
}

.fly-up-fade {
	animation:
		fly-up 300ms ease-out,
		fade 300ms ease-out;
	animation-fill-mode: both;
}

.fly-right-fade {
	animation:
		fly-right-entry 300ms ease-out,
		fade 300ms ease-out;
	animation-fill-mode: both;
}
.fly-left-fade {
	animation:
		fly-left-entry 300ms ease-out,
		fade 300ms ease-out;
	animation-fill-mode: both;
}

@keyframes fly-up {
	from {
		transform: translateY(0.75rem);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes fly-left {
	from {
		transform: translateX(0.75rem);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes fly-left-entry {
	from {
		transform: translateX(1rem);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes fly-right-entry {
	from {
		transform: translateX(-1rem);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* .accordion-animate {
  max-height: 0;
  overflow:hidden;
  transition: max-height ease-out;
} */

@media (min-width: 640px) {
	.ais-InfiniteHits-list {
		max-height: calc(100vh - 16rem);
		max-height: calc(100lvh - 16rem);
	}
	.entry-title:after,
	.entry-title:before {
		content: '';
		width: 9px;
		height: 22.5px;
		display: block;
		position: absolute;
	}
	.entry-title:before {
		border-top-width: 3px;
		border-left-width: 3px;
		top: 5px;
		right: calc(100% + 5px);
	}
	.entry-title:after {
		border-bottom-width: 3px;
		border-right-width: 3px;
		left: calc(100% + 5px);
		bottom: 5px;
	}
}

@media (prefers-reduced-motion: reduce) {
	.fly-up-fade,
	.fly-right-fade,
	.fly-left-fade {
		animation: none;
	}
}
